.gutena-testimonial-block {
    text-align: left;

    &.align-center {
        text-align: center;

        .gutena-testimonial-icon-block, .gutena-testimonial-rating-block {
            justify-content: center;
        }

        .gutena-testimonial-details-block {
            &.image-top {
                align-items: center;

                .gutena-testimonial-details-content {
                    align-items: center;
                }
            }
        }
    }

    &.align-right {
        text-align: right;

        .gutena-testimonial-icon-block, .gutena-testimonial-rating-block {
            justify-content: flex-end;
        }

        .gutena-testimonial-details-block {
            &.image-side {
                flex-direction: row-reverse;

                .gutena-testimonial-details-image {
                    margin-left: 10px;
                    margin-right: 0;
                }

                .gutena-testimonial-details-content {
                    align-items: flex-end;
                }
            }

            &.image-top {
                align-items: flex-end;
                // .gutena-testimonial-details-image {
                //     margin: 0;
                // }

                .gutena-testimonial-details-content {
                    align-items: flex-end;
                }
            }
        }
    }

    &.has-box-shadow {
        .gutena-testimonial-item-block:not(.editor) {
            box-shadow: var( --gutena--testimonial-slider-box-shadow );
        }

        .tns-outer {
            .tns-ovh {
                padding: var( --gutena--testimonial-slider-container-padding );
            }
        }
    }

    .gutena-testimonial-item-block {
        min-height: calc( var( --gutena--testimonial-slider-min-height ) * 1px );
        padding: var( --gutena--testimonial-slider-padding );

        @media only screen and (max-width: 780px) {
            min-height: calc( var( --gutena--testimonial-slider-min-height-tablet, var( --gutena--testimonial-slider-min-height ) ) * 1px );
            padding: var( --gutena--testimonial-slider-padding-tablet, var( --gutena--testimonial-slider-padding ) );
        }

        @media only screen and (max-width: 360px) {
            min-height: calc( var( --gutena--testimonial-slider-min-height-mobile, var( --gutena--testimonial-slider-min-height-tablet ) ) * 1px );
            padding: var( --gutena--testimonial-slider-padding-mobile, var( --gutena--testimonial-slider-padding-tablet, var( --gutena--testimonial-slider-padding ) ) );
        }

        .gutena-testimonial-text-block {
            font-family: var( --gutena--testimonial-text-font-family, var( --wp--custom--typography--font-family--secondary ) );
            font-style: var( --gutena--testimonial-text-font-style, inherit );
            font-weight: var( --gutena--testimonial-text-font-weight );
            font-size: var( --gutena--testimonial-text-font-size, var( --wp--custom--typography--font-size--p ) );
            line-height: var( --gutena--testimonial-text-line-height, var( --wp--custom--typography--line-height--p ) );
            text-transform: var( --gutena--testimonial-text-text-transform );
            color: var( --gutena--testimonial-text-color );
        }
    }

    .gutena-testimonial-icon-block {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: calc( var( --gutena--testimonial-quote-icon-spacing, 5 ) * 1px );

        svg {
            margin: 0;
            padding: 0;
            width: calc( var( --gutena--testimonial-quote-icon-size, 25 ) * 1px );
            height: calc( var( --gutena--testimonial-quote-icon-size, 25 ) * 1px );
            fill: var( --gutena--testimonial-quote-icon-color );
        }
    }

    .gutena-testimonial-rating-block {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: calc( var( --gutena--testimonial-rating-spacing, 20 ) * 1px );

        svg {
            margin: 0;
            padding: 0;
            width: calc( var( --gutena--testimonial-rating-icon-size, 25 ) * 1px );
            height: calc( var( --gutena--testimonial-rating-icon-size, 25 ) * 1px );
            fill: var( --gutena--testimonial-rating-color );
        }
    }

    .gutena-testimonial-details-block {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: calc( var( --gutena--testimonial-space-before-details ) * 1px );

        &.image-side {
			.gutena-testimonial-details-image {
				margin-right: 10px;
                margin-left: 0;
			}
		}

        // &.image-right {
		// 	//flex-direction: row-reverse;

		// 	.gutena-testimonial-details-image {
		// 		margin-left: 10px;
		// 	}
		// }

		&.image-top {
			flex-direction: column;
            align-items: flex-start;

			.gutena-testimonial-details-image {
				margin: 0 0 10px 0;
			}
		}

        .gutena-testimonial-details-image {
            line-height: 0;

            img {
                width: calc( var( --gutena--testimonial-image-size, 50 ) * 1px );
                height: calc( var( --gutena--testimonial-image-size, 50 ) * 1px );
                border-radius: 50%;
            }
        }

        .gutena-testimonial-details-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            .gutena-testimonial-name {
                font-family: var( --gutena--testimonial-name-font-family );
                font-style: var( --gutena--testimonial-name-font-style );
                font-weight: var( --gutena--testimonial-name-font-weight );
                font-size: var( --gutena--testimonial-name-font-size );
                line-height: var( --gutena--testimonial-name-line-height );
                text-transform: var( --gutena--testimonial-name-text-transform );
                color: var( --gutena--testimonial-name-color );
            }

            .gutena-testimonial-title {
                font-family: var( --gutena--testimonial-position-font-family );
                font-style: var( --gutena--testimonial-position-font-style );
                font-weight: var( --gutena--testimonial-position-font-weight );
                font-size: var( --gutena--testimonial-position-font-size );
                line-height: var( --gutena--testimonial-position-line-height );
                text-transform: var( --gutena--testimonial-position-text-transform );
                color: var( --gutena--testimonial-position-color );
            }
        }
    }

    // tiny slider core
    .tns-outer {
        padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width
        [hidden] { display: none !important; }
        [aria-controls], [data-action] { cursor: pointer; }
    }

    .tns-slider {
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
        > .tns-item {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
    }
      
    .tns-horizontal {
        &.tns-subpixel {
            white-space: nowrap;

            > .tns-item {
                display: inline-block;
                vertical-align: top;
                white-space: normal;
            }
        }

        &.tns-no-subpixel {
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            > .tns-item {
                float: left;
            }
        }
        &.tns-carousel {
            &.tns-no-subpixel {
                > .tns-item {
                    margin-right: -100%;
                }
            }
        }
    }

    .tns-no-calc {
        position: relative;
        left: 0;
    }

    .tns-gallery {
        position: relative;
        left: 0;
        min-height: 1px; // make sure slider container is visible
        // overflow: hidden;
        
        > .tns-item {
            position: absolute;
            left: -100%;
            -webkit-transition: transform 0s, opacity 0s;
            -moz-transition: transform 0s, opacity 0s;
            transition: transform 0s, opacity 0s;
        }
        > .tns-slide-active {
            position: relative;
            left: auto !important;
        }

        > .tns-moving {
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            transition: all 0.25s;
        }
    }
      
    .tns-autowidth { display: inline-block; }
      
    .tns-lazy-img {
        -webkit-transition: opacity 0.6s;
        -moz-transition: opacity 0.6s;
        transition: opacity 0.6s;
        opacity: 0.6;
        &.tns-complete { opacity: 1; }
    }
    
    .tns-ah {
        -webkit-transition: height 0s;
        -moz-transition: height 0s;
        transition: height 0s;
    }
    .tns-ovh { overflow: hidden; }

    .tns-visually-hidden { position: absolute; left: -10000em; }
    .tns-transparent { opacity: 0; visibility: hidden; }
      
    .tns-fadeIn {
        opacity: 1;
        filter: alpha(opacity=100);
        z-index: 0;
    }

    .tns-normal, .tns-fadeOut {
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: -1;
    }
      
    // *** Fix a viewport issue in initialization
    .tns-vpfix {
        white-space: nowrap;
        
        > div, > li {
          display: inline-block;
        }
    }
      
    // *** Detecting browser capability ***
    $width: 310px;
    $height: 10px;
    $count: 70;
    $perpage: 3;
      
    .tns-t {
        &-subp2 {
            margin: 0 auto;
            width: $width;
            position: relative;
            height: $height;
            overflow: hidden;
        }

        &-ct {
            width: calc(100% * #{$count} / #{$perpage});
            position: absolute;
            right: 0;

            &:after {
                content: '';
                display: table;
                clear: both;
            }

            > div {
                width: calc(100% / #{$count});
                height: $height;
                float: left;
            }
        }
    }

    &.has-nav-arrow {
        .tns-outer {
            .tns-ovh {
                margin: 0 calc( var( --gutena--testimonial-nav-arrow-spacing, 30 ) * 1px );
            }
        }

        &.has-nav-dot {
            .tns-outer {
                .tns-controls {
                    button {
                        top: calc( 50% - calc( var( --gutena--testimonial-nav-arrow-position, 0 ) * 1px ) );
                    }
                }
            }
        }
    }

    // tiny clider custom
    .tns-outer {
        position: relative;

        .tns-controls {
            button {
                position: absolute;
                //background: rgba(0,0,0,0.8);
                background-color: transparent;
                color: var( --gutena--testimonial-nav-arrow-normal-color, #000 );
                border: none;
                display: block;
                //height: 50px;
                //width: 10px;
                line-height: 0px;
                text-align: center;
                font-size: 0px;
                outline: none;
                box-shadow: none;
                border-radius: 0;
                top: 50%;
                transform: translate(0, -50%);
                padding: 0;
                transition: opacity .25s ease-in-out;
                //opacity: .25;
                z-index: 10;

                &:hover {
                    color: var( --gutena--testimonial-nav-arrow-hover-color, #000 );
                }

                &[data-controls="prev"] {
                    left: 0;

                    &:before {
                        border-style: solid;
                        border-width: 2px 2px 0 0;
                        content: '';
                        display: inline-block;
                        height: calc( var( --gutena--testimonial-nav-arrow-size, 10 ) * 1px );
                        position: relative;
                        top: 0px;
                        left: 2px;
                        transform: rotate(-135deg);
                        vertical-align: top;
                        width: calc( var( --gutena--testimonial-nav-arrow-size, 10 ) * 1px );
                    }
                }

                &[data-controls="next"] {
                    right: 2px;

                    &:before {
                        border-style: solid;
                        border-width: 2px 2px 0 0;
                        content: '';
                        display: inline-block;
                        height: calc( var( --gutena--testimonial-nav-arrow-size, 10 ) * 1px );
                        position: relative;
                        top: 0px;
                        left: -2px;
                        transform: rotate(45deg);
                        vertical-align: top;
                        width: calc( var( --gutena--testimonial-nav-arrow-size, 10 ) * 1px );
                    }
                }
            }
        }

        .tns-nav {
            margin-top: calc( var( --gutena--testimonial-nav-dot-spacing, 15 ) * 1px );
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc( var( --gutena--testimonial-nav-dot-gap, 12 ) * 1px );

            button {
                font-size: 0;
                line-height: 0;
                width: calc( var( --gutena--testimonial-nav-dot-size, 10 ) * 1px );
                height: calc( var( --gutena--testimonial-nav-dot-size, 10 ) * 1px );
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: 0;
                background: 0 0;
                padding: 0;
                margin: 0;
                border-radius: 50% 50% 50% 50%;
                background-color: var( --gutena--testimonial-nav-dot-normal-color, #b9caf5 );
    
                &.tns-nav-active {
                    background-color: var( --gutena--testimonial-nav-dot-active-color, #3F6DE4 );
                }

                &::before, &::after {
                    display: none;
                }
            }
        }
    }
}